table {
    width: 100%;
    border-collapse: collapse;
  }

  .table-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
    overflow-x: auto;
  }
  
  th, td, tr {
    padding: 10px;
    border: 2px solid green;
    text-align: left;
  }
  
  .mat-form-field label {
    font-weight: bold;
  }
  
  button {
    margin-top: 10px;
    margin-left: 45px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .error {
    color: red;
    font-size: smaller;
  }

  form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 25px;
  }
  
  .mat-form-field {
    width: 100%;
  }
  
  button {
    display: block;
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #ececec;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(185, 207, 185);
  }

  .edit-button {
    background-color: blue;
  }

  

  